.questions {
    display: table; 
    margin: 20px auto; 
    width: 600px; 
}

.answerButton {
    float: right; 
}

.topic {
    margin: 15px; 
}

.questionHeader {  
    display: inline; 
    width: 100%; 
}

.shortAnswerSolution{
    margin-top: 50px; 
}

.editButton {
    float: right; 
}

.topic {
    font-size: 25px;
    font-weight: bold; 
}

