


<div id="multChoiceQ" *ngIf='questionType==="mult_choice"'>
    <h3 class="topic">Topic</h3>
    <div class='questions'>
        <p>{{question.question}}</p>
        <div class="question-radio-buttons form-check" *ngFor='let opt of mult_choice_options'>
            <input class='form-check-input' type='radio' name='mult_choice_radio' [value]=opt [(ngModel)]='selectedAns'>
            <label for='mult_choice_radio'>{{opt}}</label>
        </div>

        <button class="btn btn-primary btn-sm answerButton" (click)='multAnsSubmit()'>Submit</button>
    </div>

    <div *ngIf='correctSelection === true'>
        <p>Correct!</p>
    </div>

    <div *ngIf='correctSelection === false'>
        <p>Wrong u idiot</p>
    </div>
</div>

<div id="shortAnsQ" *ngIf='questionType==="short_ans"'>
    <h3 class="topic">Topic</h3>
    <div class='questions'>
        <p>{{question.question}}</p>
        <textarea class='form-control' [(ngModel)]='shortAnsSubmission'></textarea>
        <button class='btn btn-primary btn-sm answerButton' (click)='shortAnsSubmit()'>Show Answer</button>
    </div>
</div>


